<nav class="mynav">
  <ul class="mynavlist">
    {% for nav in site.data.nav %}
    {% if nav.subcategories != null %}
    <div class="subcategorylist">
      <button class="subcategoryheader">{{ nav.title }}</button>
      <div class="subcategorycontent">
	{% for subcategory in nav.subcategories %}
	<a href="{{ site.url }}{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a>
	{% endfor %}
      </div>
    </div>
    {% comment %}
    {% elsif nav.title == page.title %}
    <li class="active">
      <a class="activeitem" href="{{ nav.url }}">{{ nav.title }}</a>
    </li>
    {% endcomment %}
    {% else %}
    <li class="mynavlistitem">
      <a href="{{ site.url }}{{ nav.href }}" class="mynavlistitemtext" style="text-decoration:none;">{{ nav.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>

